@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(114, 96, 230, 1);
  border-radius: 50px;
}
body {
  background-color: transparent;
  overflow-x: hidden;
}
body,
html {
  overflow-x: hidden;
  overflow-x: hidden;
}
@font-face {
  font-family: "SFProRegular";
  src: url(../public/fonts/SFProDisplay-Regular.ttf);
  src: url(../public/fonts/SFProDisplay-Regular.woff);
  src: url(../public/fonts/SFProDisplay-Regular.woff2);
}
@font-face {
  font-family: "SFProMedium";
  src: url(../public/fonts/SFProDisplay-Medium.ttf);
  src: url(../public/fonts/SFProDisplay-Medium.woff);
  src: url(../public/fonts/SFProDisplay-Medium.woff2);
}
@font-face {
  font-family: "SFProSemiBold";
  src: url(../public/fonts/SFProDisplay-Semibold.ttf);
  src: url(../public/fonts/SFProDisplay-Semibold.woff);
  src: url(../public/fonts/SFProDisplay-Semibold.woff2);
}
@font-face {
  font-family: "TTFirsNeueDemiBold";
  src: url(../public/fonts/TTFirsNeue-DemiBold.ttf);
  src: url(../public/fonts/TTFirsNeue-DemiBold.woff);
  src: url(../public/fonts/TTFirsNeue-DemiBold.woff2);
}
.loader {
  animation: loader 1s infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .menu {
    display: flex;
  }
  .main_menu {
    display: none;
  }
}
